{% extends 'layout.html.twig' %}

{% block main %}
    <h1>About us!</h1>

        {% for person in team %}
            <div class="team-list">
                <img src="{{ person.picture }}" alt="{{ person.firstname }}" height="100px" width="100px" style="float: left; margin-right: 5px"/>
                <h5>{{ person.firstname }} {{ person.lastname }}
                {% if person.firstname == 'Fabien' and person.lastname == 'Potencier' %}
                    <span> ❤ </span>
                {% endif %}
                </h5>
                <p>Né le {{ person.dateOfBirth|date('d/m/Y') }}</p>
                <p>Créateur de : {{ person.creatorOf }}</p>
                <p class="team-meta">{{ person.description }}</p>
            </div>
        {% endfor %}

{% endblock %}

{% block title %}About us | {{ parent() }}{% endblock %}